<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css">
    <script type="text/javascript" src="/scripts/knockout-3.4.0.js" ></script>
    <script type="text/javascript" src="/scripts/jquery-1.12.3.min.js"></script>
      <script type="text/javascript" src="/scripts/renderDynamicRow.js"></script>
      <link rel="stylesheet" href="/styles/style.css" type="text/css">
      <script src="/datatimepicker/build/jquery.datetimepicker.full.js"></script>
      <link rel="stylesheet" type="text/css" href="/datatimepicker/jquery.datetimepicker.css"/>

      <script>
          var rowNum = 0;
          function addRow() {
              rowNum ++;
              var row =
                      '<div class="form-group row"> ' +
                      '<div class = "col-xs-3"> ' +

                      '<select name="condAttr-' + rowNum + '" id="condAttr-'+rowNum + '"class="form-control">' +
                      '<% for(i=0 ; i<availableAttributes.length; i++) { %>' +
                      '<option value=<%= availableAttributes[i]%>><%= availableAttributes[i]%></option>' +
                      '<% } %>  </select>' +
                      '</div> ' +
                      '<div class = "col-xs-3"> ' +
                      '<select name="op-'+rowNum+'" id="op-'+rowNum+'" class = "form-control"> ' +
                      '<% for(var i=0; i<conditions.length; i++) { %>' +

                      '<option value=<%= conditions[i]%>><%= conditions[i]%></option>' +
                      '<% } %>' +
                      '</select> ' +
                      '</div> ' +
                      '<div class = "col-xs-3"> ' +
                      '<input type="text" class="form-control" name="condValue-' +rowNum+'" id="condValue-'+rowNum+'"> ' +
                      '</div> ' +
                      '<div class = "col-xs-3"> ' +
                      '<select name="combiner-'+rowNum+'" class = "form-control" id="combiner-'+rowNum+'">' +
                      '<option value="AND">AND</option> ' +
                      '<option value="OR">OR</option> ' +
                      '</select> ' +
                      '</div>' +
                      '</div>';
              $('#whereConds').append(row);
          }
      </script>
  </head>

  <body>
    <h1><%= title %></h1>

      <form action="/query" method="post" id="form_id">
        <div class="container" id="formContainer">

        <div class = "row form-group">
          <div class="col-xs-6">
            <label for="from">From:</label>
            <input type="text" class="form-control" name="from" value="" id="datetimepicker">
          </div>
          <div class="col-xs-6">
            <label for="to">To:</label>
            <input type="text" class="form-control" name="to" value="" id="datetimepickerto">
          </div>
        </div>

        <% for(var i=0; i<availableAttributes.length; i++) { %>
        <div class = "col-xs-6">
        <input type="checkbox" name = "<%= availableAttributes[i]%>" id="<%= availableAttributes[i]%>">
        <label for = "<%= availableAttributes[i]%>"><%= availableAttributes[i]%></label>
        </div>
        <% } %>

        <div class=""form-group row id="whereLabel">
            <label>Select where conditons as needed</label>
        </div>

        <div id="whereClauseSelection">

            <div class = "row form-group">
                <input type="button" onclick="addRow()" value="Add where condition" class="btn btn-primary">
                <input type="button" onclick="clearAllWhereConditions()" value="Clear where conditions" class="btn btn-primary">
            </div>

            <div id="whereConds"></div><!-- put all the dynamically added rows in a new div to help in add/delete -->

        </div>
      </div>
    </form>

    <div class = "row form-group">
        <input type="button" value="Submit" class = "btn btn-primary" onclick="sendFormData()">
    </div>

    <div id="errorMsgDiv" class = "row alert alert-danger">
        <label id="errorLabel"></label>
    </div>

    <div id="resultDiv"><!-- adding a result div to ease in add and delete of results-->
    </div>

  </body>

  <script>
      $('#datetimepicker').datetimepicker({value:new Date(),step:10});
      $('#datetimepickerto').datetimepicker({value:new Date(),step:10});
  </script>
.
</html>
