<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css">
    <script type="text/javascript" src="/scripts/knockout-3.4.0.js" ></script>
    <script type="text/javascript" src="/scripts/jquery-1.12.3.min.js"></script>
      <script type="text/javascript" src="index.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


      <form action="http://127.0.0.1:3000/myaction" method="post">
    <div class="container">
        <div class = "row form-group">
          <div class="col-xs-6">
            <label for="from">From:</label>
            <input type="text" class="form-control" id="from">
          </div>
          <div class="col-xs-6">
            <label for="to">To:</label>
            <input type="text" class="form-control" id="to">
          </div>
        </div>

        <% for(var i=0; i<availableAttributes.length; i++) { %>
        <div class = "col-xs-6">
        <input type="checkbox" id = "<%= availableAttributes[i]%>">
        <label for = "<%= availableAttributes[i]%>"><%= availableAttributes[i]%></label>
        </div>
        <% } %>

        <div class="form-group row">
            <div class = "col-xs-3">
                <label>Select where attribute:</label>
            </div>
            <div class = "col-xs-3">
                <label>Select conditon for the selected where attribute:</label>
            </div>
            <div class = "col-xs-3">
                <label>Value for the condition attribute:</label>
            </div>
            <div class = "col-xs-3">
                <label>Value for the condition to combne with next condition:</label>
            </div>
        </div>

        <div class="form-group row">

            <div class = "col-xs-3">

                <select id="condAttr-1" class = "form-control">
                    <% for(var i=0; i<availableAttributes.length; i++) { %>
                    <option value=<%= availableAttributes[i]%>><%= availableAttributes[i]%></option>
                    <% } %>
                </select>
            </div>

            <div class = "col-xs-3">

                <select name="op-1" class = "form-control">
                    <% for(var i=0; i<conditions.length; i++) { %>
                    <option value=<%= conditions[i]%>><%= conditions[i]%></option>
                    <% } %>
                </select>
            </div>

            <div class = "col-xs-3">
                <input type="text" class="form-control" id="condValue-1" data-bind="value: toTime">
            </div>

            <div class = "col-xs-3">
                <select name="combiner-1" class = "form-control">
                    <option value="AND">AND</option>
                    <option value="OR">OR</option>
                </select>
            </div>

        </div>

        <!-- row 2 - needs to be dynamically added in future -->

        <div class="form-group row">

            <div class = "col-xs-3">

                <select id="condAttr-2" class = "form-control">
                    <% for(var i=0; i<availableAttributes.length; i++) { %>
                    <option value=<%= availableAttributes[i]%>><%= availableAttributes[i]%></option>
                    <% } %>
                </select>
            </div>

            <div class = "col-xs-3">

                <select name="op-2" class = "form-control">
                    <% for(var i=0; i<conditions.length; i++) { %>
                    <option value=<%= conditions[i]%>><%= conditions[i]%></option>
                    <% } %>
                </select>
            </div>

            <div class = "col-xs-3">
                <input type="text" class="form-control" id="condValue-2" data-bind="value: toTime">
            </div>

            <div class = "col-xs-3">
                <select name="combiner-2" class = "form-control">
                    <option value="AND">AND</option>
                    <option value="OR">OR</option>
                </select>
            </div>

        </div>



        </div>

        </form>



  </body>
</html>
